<template>
  <div
    class="w-full z-50 relative wrapper-footer flex flex-col justify-center gap-[62px] sm:py-6 sm:px-4 lg:py-0 lg:px-0">
    <div class="wrapper-logo flex md:justify-center items-center mt-[72px] sm:justify-start cursor-pointer"
         @click="refreshPage">
      <img src="@/assets/images/logo.svg" class="mr-[12px]" alt="logo">
      <span class="color-primary font-bold text-xl">OMEGA NETWORK</span>
    </div>
    <div class="show-des">
      <div class="flex justify-center">
        <div class="list flex justify-center items-center gap-[24px] flex-wrap max-w-[894px]">
          <div class="p-[12px] cursor-pointer" v-for="item in dataConvert" :key="item.link">
            <a v-if="!item?.target" :key="item.link" @click="fnLoadPage(item.link)">
              <span class="text-white font-semibold text-base">{{ item.name }}</span>
            </a>
            <a v-else :href="item.link" target="_blank" class="text-white font-semibold text-base"><span>{{
                item.name
              }}</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="show-mb">
      <div class="list flex flex-wrap">
        <div class="w-1/2 flex-col flex-wrap">
          <div class="cursor-pointer" v-for="item in dataConvert.slice(0, dataConvert.length/2)" :key="item.link">
            <a v-if="!item?.target" @click="fnLoadPage(item.link)" class="w-full mb-12">
              <span class="text-white font-semibold text-base">{{ item.name }}</span>
            </a>
            <a v-else :href="item.link" target="_blank" class="text-white font-semibold text-base"><span>{{
                item.name
              }}</span></a>
          </div>

        </div>
        <div class="w-1/2 flex-col flex-wrap">
          <div class="cursor-pointer" v-for="item in dataConvert.slice(dataConvert.length/2, dataConvert.length)">
            <a v-if="!item?.target" :key="item.link" @click="fnLoadPage(item.link)" class="w-full mb-12">
              <span class="text-white font-semibold text-base">{{ item.name }}</span>
            </a>
            <a v-else :href="item.link" target="_blank" class="text-white font-semibold text-base"><span>{{
                item.name
              }}</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-icon flex justify-center items-center gap-14">
      <a :href="link.telegram" rel="telegram" target="_blank">
        <img src="@/assets/images/tele.svg" alt="tele">
      </a>
      <a :href="link.facebook" rel="facebook" target="_blank">
        <img src="@/assets/images/facebook-icon.svg" alt="facebook">
      </a>
      <a :href="link.twitter" rel="twitter" target="_blank">
        <img src="@/assets/images/twiter.svg" alt="twiter">
      </a>
      <a :href="link.reddit" rel="twitter" target="_blank">
        <img src="@/assets/images/icon-reddit.svg" alt="reddit">
      </a>
    </div>
    <div class="license text-center text-white mb-0 md:mb-[24px]">
      <span class="text-[12px]">© 2020 OM TECH GROUP LTD. | All rights reserved.</span>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      list: [
        {name: 'Home', link: '/', keyword: '/'},
        {name: 'Mobile App', link: 'mobile-app', keyword: 'mobile-app'},
        {name: 'RoadMap', link: 'roadmap', keyword: 'roadmap'},
        {
          name: 'Papers',
          link: 'papers',
          keyword: '',
          child: [
            {name: 'White Paper', link: 'https://omeganetwork.gitbook.io/omega-network-whitepaper/', target: '_blank'},
            {
              name: 'Pitch Deck',
              link: 'https://omtch.com/pitch_deck.aed396eb-d4ca-4fcc-919f-b000b304efac.pdf',
              target: '_blank'
            }
          ]
        },
        {
          name: 'Network',
          link: 'network',
          keyword: '',
          child: [
            {name: 'Sale', link: 'https://app.omtch.com/', target: '_blank'},
            {name: 'Omega Testnet', link: 'testnet'},
            {name: 'Omega Mainnet', link: 'mainnet'}
          ]
        },
        {name: 'About Us', link: 'about-us', keyword: 'about-us'},
        {name: 'Support', link: 'support', keyword: 'support'},
        {name: 'Terms of Service', link: 'terms-of-service'},
        {name: 'Privacy Policy', link: 'privacy-policy'},

      ],
      showDropdown: false,
      showDropdownChild: [],
      link: {
        facebook: 'https://www.facebook.com/OmCoreTeam/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=00',
        twitter: 'https://twitter.com/omcoreteam',
        telegram: 'https://t.me/OmegaNetworkTeam',
        reddit: 'https://www.reddit.com/user/OmCoreTeam/'
      },
      dataConvert: []
    }
  },
  created() {
    [...this.list].forEach(item => {
      if (item.child === undefined) {
        this.dataConvert.push(item)
      } else {
        this.dataConvert.push(item.child)
      }
    })
    this.dataConvert = this.dataConvert.flat(1)
  },
  methods: {
    refreshPage() {
      window.open(
        '/',
        '_self'
      )
    },
    fnLoadPage(link) {
      window.open(
        link,
        '_self'
      )
    }
  }

}
</script>

<style scoped lang="scss">
.wrapper-footer {
  background: #0B0E11;

  a:hover {
    span {
      color: #FFB901;
    }
  }
}

@media only screen and (min-width: 970px) {
  .show-des {
    display: block !important;
  }
  .show-mb {
    display: none !important;
  }
}

@media only screen and (max-width: 970px) {
  .wrapper-footer {
    padding: 24px 16px;
    gap: 25px !important;

    .wrapper-logo {
      margin-top: 0;
    }

    .list {
      a {
        display: flex;
        padding: 12px;
        align-items: center;
        margin-bottom: 12px;
      }

      a:hover {
        transition: 0.5s ease-in-out;
        color: #FFB901;
      }
    }
  }
  .show-des {
    display: none !important;
  }
  .show-mb {
    display: block !important;
  }
}

</style>
