.p-mv {
  max-width: 100vw;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.p-mv__ttl {
  line-height: 1.5;
  letter-spacing: 0.2em;
}

.p-mv__ttl span span {
  font-size: 2.7rem;
}

.p-mv__ttl-sub {
  font-size: 1.35rem;
  letter-spacing: 0.1em;
  margin-top: 1rem;
}

.p-mv__inner {
  min-height: 100vh;
  padding: 0rem 5.5rem 0rem;
  position: relative;
  z-index: 1000;
  width: 100%;
}

.p-mv__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.2rem;
}

.p-mv__list li {
  width: 9.8rem;
}

.p-mv__list li + li {
  margin-left: 1rem;
}

.p-mv__wrap {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.p-mv__pic {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  width: 100%;
  margin: auto;
}

.p-mv__pic_common {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.p-mv__pic-01 {
  @apply p-mv__pic_common;
}

.p-mv__pic-02 {
  z-index: 2;
  @apply p-mv__pic_common;
}

.p-mv__pic-03 {
  left: 0;
  right: 0;
  top: 56px;
  margin: auto;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 3;
}

.p-mv__pic-04 {
  margin: auto;
  left: 21.54%;
  right: 50.79%;
  top: 31.21%;
  bottom: 12.1%;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 4;
}

.p-mv__pic-05 {
  left: 44.13%;
  right: -31.92%;
  top: 26.56%;
  bottom: -6.7%;
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 5;
}

.p-mv__pic-06 {
  margin: 82% 50%;
  position: absolute;
  width: 14.15rem;
  z-index: 6;
}

.p-mv__pic-07 {
  margin: 62% 0%;
  position: absolute;
  z-index: 4;
}

.p-mv__pic-08 {
  margin: 4% 66%;
  position: absolute;
  width: 7.65rem;
  z-index: 8;
}

.p-mv__pic-09 {
  margin: 8% 2%;
  position: absolute;
  z-index: 9;
  width: 9.8rem;
}
