@import "variables";
* {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.color-primary {
  color: $color-primary;
}

.line-height-150 {
  line-height: 150%;
}
.main-content{
  max-width: 1166px;
  margin: auto;
}
.w-200{
  max-width: 800px;
}

.btn-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #FFB901;
  border-radius: 4px;

  span {
    margin-right: 14px;
    font-weight: 600;
  }
}

.btn-primary:disabled {
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss09' on;
  background: #E6E6E6;
  span{
      color: #B8B8B8;
  }
}

.btn-primary:disabled:hover {
  cursor: not-allowed;
   background: #E6E6E6;
  span{
      color: #B8B8B8;
  }
}

.btn-primary:hover {
  background: #FF9901;
  transition: 0.5s ease-in-out;
}

.btn-primary-outline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #0B0E11;
  border: 2px solid #FFB901;
  border-radius: 4px;

  span {
    margin-right: 14px;
    color: #FFB901;
  }
}

.btn-primary-outline:disabled {
  opacity: 0.4;
}

.btn-primary-outline:disabled:hover {
  opacity: 0.4;
  border: 2px solid #FFB901;
}

.btn-primary-outline:hover {
  border: 2px solid #FF9901;
  transition: 0.5s ease-in-out;

  span {
    color: #FF9901;
  }
}
.font-special{
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.line-three{
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-two{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
