<template>
  <div class="wrapper-card" :class="clasCard">
    <div class="content-card w-full" :class="classContentCard">
      <slot/>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    classContentCard: {
      type: String,
      default: ''
    },
    clasCard: {
      type: String,
      default: ''
    }
  }
}
</script>
<style scoped lang="scss">
.wrapper-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 4px;
  isolation: isolate;
  min-width: 300px;
  //height: 340px;
  border: 2px solid #CFCFCF;
  border-radius: 24px 0px;
  background: #181A20;
  transition: 0.5s ease-in-out;
}

.wrapper-card:hover {
  transition: 0.5s ease-in-out;
  border: 2px solid #FF9901;
}

.wrapper-card:hover:after, .wrapper-card:hover:before {
  background-color: #FFB901;
  transition: 0.5s ease-in-out;
}

.wrapper-card:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #CFCFCF;
  top: -6px;
  right: -6px;
}

.wrapper-card:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #CFCFCF;
  bottom: -6px;
  left: -6px;
}
</style>
