<template>
  <div>
    <p class="pre-text text-base text-white mb-3">
      {{ preText }} <span v-if="obligatory" class="" style="color: #EF4444">*</span>
    </p>
    <el-input
      v-model="valueInput"
      type="textarea"
      show-word-limit
      class="text-base relative"
      :placeholder="placehoder"
      :maxlength="maxlength"
      :rows="rows"
    />
    <div v-if="obligatory">
      <p v-if="textWarning !== ''" class="text-warning text-[18px] mt-1">
        {{ textWarning }}
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    placehoder: {
      type: String,
      default: 'placeholder'
    },
    preText: {
      type: String,
      default: 'Pre Text'
    },
    obligatory: {
      type: Boolean,
      default: false
    },
    maxlength: {
      type: Number,
      default: 0
    },
    rows: {
      type: Number,
      default: 1
    },
    propsArea: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      valueInput: '',
      textWarning: ''
    }
  },
  created() {
    this.valueInput = this.propsArea
  },
  watch: {
    valueInput(newValue) {
      this.$emit('change', { value: newValue, exception: this.exception })
    },
    propsArea(val){
      if(val === ''){
        this.valueInput = ''
      }
    }
  },
  mounted () {
    document.getElementsByClassName('el-textarea')[0]?.classList?.remove('el-textarea')
  },
  methods: {
    changeEmit() {
      this.$emit('change', this.valueInput)
    }
  }
}
</script>
<style scoped lang="scss">
::v-deep .el-textarea__inner {
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  min-height: 48px;
  padding: 12px;
  color: white;
  background: #181A20;
  outline: none;
  font-size: 16px;
  box-shadow: none;
}

::v-deep .el-textarea__inner:disabled {
  background: #5d5e62 !important;
  border: 1px solid #CFCFCF !important;
}

::v-deep .el-textarea__inner:hover {
  border: 1px solid #FFB901;
}
::v-deep .el-textarea__inner:focus {
  border: 1px solid #FFB901;
}

::v-deep .el-input__count {
  position: absolute;
  background: transparent;
  bottom: 12px;
  right: 12px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-size: 12px;
  color: #9CA3AF;
}

.text-warning {
  color: #EF4444;
}
</style>
