<template>
  <div data-barba="wrapper">
    <div
      class="container_"
      data-barba="container"
      data-barba-namespace="top"
    >
      <div class="p-mv js-fixed js-follower-ItemArea">
        <div class="wrapper-home">
          <div
            class="block-one overflow-hidden w-full flex justify-center items-center px-4 sm:px-4 md:px-16 lg:px-4 xl:px-0">
            <img class="_layer-hidden-1" src="@/assets/images/icon/icon-omega-home-page.svg"
                 alt="icon-omega-home-page.svg">
            <img class="_layer-hidden-2" src="@/assets/images/icon/icon-omega-home-page.svg"
                 alt="icon-omega-home-page.svg">
            <img class="_layer-hidden-3" src="@/assets/images/icon/icon-omega-home-page.svg"
                 alt="icon-omega-home-page.svg">
            <div class="content flex justify-between items-center mt-[48px] lg:mt-[156px] mb-[48px] lg:mb-[213px] z-10">
              <div class="content-left w-full lg:w-1/2">
                <p class="font-bold text-white my-0 animationTextInner">
                  The Future Of
                </p>
                <p class="font-bold mb-[12px] animationTextInner1">
                  Cryptocurrency
                </p>
                <p class="font-bold text-2xl text-white mb-[24px] md:mb-[48px] animationTextInner2">
                  Easy manage mining on your phone, <br>
                  start mining cryptocurrency today with our free.
                </p>

                <div class="wrapper-button flex mb-[48px] md:mb-0">
                  <button class="btn-primary mr-6" @click="downloadApp">
                    <span class="font-semibold text-black text-base">Download App</span>
                    <img src="@/assets/images/download-icon.svg" alt="download">
                  </button>
                  <a
                    class="btn-primary-outline"
                    href="https://app.omtch.com/"
                    target="_blank"
                    @mouseover="hoverBtnMoney = true"
                    @mouseleave="hoverBtnMoney = false"
                  >
                    <span class="font-semibold text-base">Buy OMN</span>
                    <img :class="hoverBtnMoney ? 'hidden' : 'block'" src="@/assets/images/money-icon.svg" alt="money">
                    <img
                      :class="hoverBtnMoney ? 'block' : 'hidden'"
                      src="@/assets/images/money-icon-hover.svg"
                      alt="money"
                    >
                  </a>
                </div>
              </div>
              <div class="content-right w-full flex justify-center lg:justify-end lg:w-1/2">
                <img src="@/assets/images/group-block-one.svg" alt="group-block-one">
                <!--                <div class="relative" style="width: 100%; height: 500px;">-->
                <!--                  <div class="p-mv__wrap">-->
                <!--                    <div class="p-mv__pic">-->
                <!--                      <figure class="p-mv__pic-01 js-follower-Item" data-stoker="normal">-->
                <!--                        <img-->
                <!--                          src="@/assets/images/layer/home-layer/layer1-1.svg"-->
                <!--                          alt=""-->
                <!--                        >-->
                <!--                      </figure>-->
                <!--                      <figure class="p-mv__pic-02 js-follower-Item" data-stoker="reverse">-->
                <!--                        <img-->
                <!--                          src="@/assets/images/layer/home-layer/layer1-2.svg"-->
                <!--                          alt=""-->
                <!--                        >-->
                <!--                      </figure>-->
                <!--                      <figure class="p-mv__pic-03 js-follower-Item" data-stoker="normal">-->
                <!--                        <img-->
                <!--                          src="@/assets/images/layer/home-layer/layer1-3.svg"-->
                <!--                          alt=""-->
                <!--                        >-->
                <!--                      </figure>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
            </div>
          </div>

          <div class="block-two w-full flex justify-center items-center pt-[48px] md:pt-[104px pb-[48px] md:pb-[140px]">
            <div class="content flex-row justify-center">
              <h2
                class="hidden md:block w-full  mb-[24px] md:mb-[63px] px-4 md:px-16 text-center "
                v-html="fnConvertTextCharacter('Introducing Omega Network', 'color-primary uppercase font-bold text-[24px] md:text-5xl', 'letter-character-1')"
              />
              <h2
                class="block md:hidden w-full text-center mb-[24px] md:mb-[63px] px-4 md:px-16"
                v-html="fnConvertTextCharacter(`Introducing<br>Omega Network`, 'color-primary uppercase font-bold text-[24px] md:text-5xl', 'letter-character-mb-1')"
              >
                >
                Introducing <br> Omega Network
              </h2>
              <div class="content flex md:justify-between items-center justify-center flex-wrap px-4 md:px-0">
                <div
                  class="content-translate content-left  flex flex-col justify-center items-center w-full xl:w-auto mb-8 mr-0 xl-l:mr-[66px]"
                >
                  <p class="text-white text-sm md:text-lg mb-5">
                    Discover Omega Network, the all-in-one app for hassle-free crypto mining.
                    Seamlessly manage your mining activities directly from your phone,
                    and start earning cryptocurrency rewards today.
                  </p>
                  <p class="text-white text-sm md:text-lg">
                    With our user-friendly interface and advanced technology,
                    Omega Network makes mining crypto accessible to everyone.
                    Whether you're a novice or an experienced miner, our app
                    provides a seamless experience for optimizing your mining
                    operations.
                  </p>
                </div>
                <div class="content-right flex flex-col justify-center items-center w-full xl:w-auto">
                  <div class="wrapper-video">
                    <iframe
                      height="100%"
                      width="100%"
                      src="https://www.youtube.com/embed/UgkHQmc1Vr4"
                      title="(Omega Network - Introduction) The Future Of Cryptocurrency"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen
                    />
                  </div>
                </div>
              </div>
              <div class="w-full h-12 md:h-52"/>
              <h2
                class="text-new-generation w-full text-center color-primary uppercase font-bold text-2xl md:text-5xl mb-2"
                v-html="fnConvertTextCharacter('A new generation', 'color-primary uppercase font-bold text-[24px] md:text-5xl', 'letter-character-2')"
              />
              <p
                class="content-translate w-full text-white text-center font-bold text-xl md:text-2xl px-4 md:px-16 lg:px-8 xl-h:px-0"
              >
                Experience the future of crypto mining with Omega Network.
              </p>
              <div class="content flex justify-between items-center mt-[55px] md:mt-[76px] md:px-16 lg:px-8 xl-l:px-0">
                <div class="w-full flex flex-wrap justify-between items-stretch">
                  <div
                    class="translate-linear-card-new-general w-full flex flex-col items-center md:w-auto grid-item mb-8 md:mb-2 lg:mb-0"
                  >
                    <div class="title-text-icon flex justify-start items-center mb-5">
                      <img class="mr-3 h-[40px]" src="@/assets/images/light-weight-icon.svg" alt="light-weight-icon">
                      <span class="text-white font-bold text-xl md:text-2xl">Lightweight</span>
                    </div>
                    <div class="w-[300px] h-full">
                      <card-base>
                        <div class="text-white text-sm md:text-lg">
                          Unlike traditional bitcoin mining, Omega Network offers a lightweight solution. With OM,
                          mining becomes accessible to a wider audience without the high costs and complexities
                          associated with other cryptocurrencies.
                        </div>
                      </card-base>
                    </div>
                  </div>
                  <div
                    class="translate-linear-card-new-general w-full flex flex-col items-center md:w-auto grid-item mb-8 md:mb-2 lg:mb-0"
                  >
                    <div class="title-text-icon flex justify-start items-center mb-5">
                      <img class="mr-3 h-[40px]" src="@/assets/images/decentralized-icon.svg" alt="decentralized-icon">
                      <span class="text-white font-bold text-xl md:text-2xl">Decentralized</span>
                    </div>
                    <div class="w-[300px] h-full">
                      <card-base>
                        <div class="text-white text-sm md:text-lg">
                          Embracing the future of blockchain technology, Omega Network is built on a decentralized
                          ecosystem.
                          This means that the power is distributed across the network, ensuring transparency and
                          security
                          for all participants.
                        </div>
                      </card-base>
                    </div>
                  </div>
                  <div
                    class="translate-linear-card-new-general w-full flex flex-col items-center md:w-auto grid-item mb-0 md:mb-2 lg:mb-0"
                  >
                    <div class="title-text-icon flex justify-start items-center mb-5">
                      <img class="mr-3 h-[40px]" src="@/assets/images/user-friendly-icon.svg" alt="user-friendly-icon">
                      <span class="text-white font-bold text-xl md:text-2xl">User-Friendly</span>
                    </div>
                    <div class="w-[300px] h-full">
                      <card-base>
                        <div class="text-white text-sm md:text-lg">
                          Embracing the future of blockchain technology, Omega Network is built on a decentralized
                          ecosystem.
                          This means that the power is distributed across the network, ensuring transparency and
                          security
                          for
                          all participants.
                        </div>
                      </card-base>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="block-two-1 w-full flex justify-center items-center">
            <div class="content flex-row justify-center">
              <h2
                class="text-omega-network-mb block lg:hidden w-full text-center md:text-left line-height-150  mb-[24px] md:mb-[48px] mt-[48px] px-8 md:px-16 lg:px-8 xl-h:px-0"
                v-html="fnConvertTextCharacter('Omega Network<br>Empowering Mobile<br>Mining and More', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-mb-2-1')"
              />
              <h2
                class="text-omega-network hidden lg:block w-full text-center md:text-left line-height-150  mb-[24px] md:mb-[48px] mt-[48px] px-8 md:px-16 lg:px-8 xl-h:px-0"
                v-html="fnConvertTextCharacter('Omega Network<br>Empowering Mobile Mining and More', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-2-1')"
              />
              <div class="content flex justify-between flex-wrap-reverse px-4 md:px-16 lg:px-0">
                <div
                  class="content-left relative flex flex-col justify-center items-center w-full mt-[24px] xl:mt-0 xl:w-1/2">
                  <div class="w-fit xl:absolute xl:left-0 relative">
                    <img
                      style="opacity: 0;"
                      class=""
                      src="@/assets/images/group-block-two-1.svg"
                      alt="group-block-two-1"
                    >
                    <div class="layer absolute top-0 left-auto lg:left-0 w-fit h-full">
                      <img class="_layer_2-1" src="@/assets/images/layer/home-layer/layer2-1.svg" alt="">
                      <img class="absolute _layer_2-2 " src="@/assets/images/layer/home-layer/layer2-2.svg" alt="">
                      <img class="absolute _layer_2-3 " src="@/assets/images/layer/home-layer/layer2-3.svg" alt="">
                      <img class="absolute _layer_2-4 " src="@/assets/images/layer/home-layer/layer2-4.svg" alt="">
                      <img class="absolute _layer_2-5 " src="@/assets/images/layer/home-layer/layer2-5.svg" alt="">
                      <img class="absolute _layer_2-6 " src="@/assets/images/layer/home-layer/layer2-6.svg" alt="">
                      <img class="absolute _layer_2-7 " src="@/assets/images/layer/home-layer/layer2-7.svg" alt="">
                      <img class="absolute _layer_2-8 " src="@/assets/images/layer/home-layer/layer2-2.svg" alt="">
                      <img class="absolute _layer_2-9 " src="@/assets/images/layer/home-layer/layer2-2.svg" alt="">
                    </div>
                  </div>
                </div>
                <div
                  class="content-translate content-right flex flex-col justify-center items-center w-full xl:w-1/2 px-18 lg:px-8 xl-h:px-0 xl:pl-20 gap-4 md:gap-8"
                >
                  <p class="text-white text-sm md:text-lg">
                    Omega Network offers a groundbreaking mobile mining experience and a diverse range of features.
                    Our lightweight platform makes mining cryptocurrencies accessible and cost-effective for everyone.
                  </p>
                  <p class="text-white text-sm md:text-lg">
                    With a decentralized ecosystem, Omega Network is designed to shape the future of blockchain
                    technology.
                    Engage with dApps, explore the world of NFTs, embrace DeFi, stake OMN tokens, and experience the
                    potential
                    of Web 3.0.
                  </p>
                  <p class="text-white text-sm md:text-lg">
                    Join us on Omega Network and be a part of the mobile mining revolution. Discover a world of
                    opportunities and exciting features within our innovative platform.
                  </p>
                  <button class="btn-primary mr-0 mt-[32px] mb-[24px] md:my-0" @click="fnRouterLink('testnet')">
                    <span class="font-semibold text-black text-base">Try with testnet</span>
                    <img src="@/assets/images/arrow-right-pro.svg" alt="arrow-right-pro">
                  </button>
                </div>
              </div>
              <div class="h-[48px] md:h-[43px]"/>
            </div>
          </div>

          <div ref="mobile-app-ref" class="block-three  w-full flex justify-center items-center">
            <div class="content flex-row justify-center">
              <div class="h-[48px] md:h-[152px]"/>
              <h2
                class="text-mining-anywhere w-full text-center lg:text-left color-primary uppercase font-bold  px-1 md:px-4 lg:px-8 xl-h:px-0  mb-[24px] md:mb-0 line-height-150"
                v-html="fnConvertTextCharacter('Mining Anywhere, anytime!', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-3')"
              />

              <div
                class="content-translate content flex xl:justify-between items-center justify-center flex-wrap px-4 md:px-16 lg:px-0"
              >
                <div class="content-left  flex flex-col justify-center items-center w-full xl:w-1/2 mb-[24px]">
                  <img src="@/assets/images/group-block-three.svg" alt="group-block-three.svg">
                </div>
                <div
                  class="content-translate content-right flex flex-col justify-center items-center w-full xl:w-1/2 px-18 lg:px-8 xl-h:px-0 xl-h:pl-20"
                >
                  <p class="text-white text-[14px] md:text-[18px] line-height-150 mb-[24px]">
                    Experience the future of crypto right at your fingertips with the OM mobile app. Mining has never
                    been
                    more convenient or accessible.
                  </p>
                  <p class="text-white text-[14px] md:text-[18px] line-height-150 mb-[24px] md:mb-[48px]">
                    Don't miss out on the opportunity to be part of the revolution. Get the OM mobile app and start
                    mining
                    anywhere, anytime. Your crypto journey begins here!
                  </p>
                  <div class="block md:hidden w-full">
                    <div
                      class="group-btn w-full flex md:justify-between flex-col items-center flex-wrap gap-5 md:gap-[24px] lg:h-44"
                    >
                      <a
                        v-if="device?.ios || device?.windows ||device?.macos "
                        class="translate-linear-app2 btn-item"
                        href="https://apps.apple.com/app/omega-network/id1664646371"
                        target="_blank"
                      >
                        <img src="@/assets/images/apple_store.svg" alt="apple_store">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app2 btn-item"
                        href="https://play.google.com/store/apps/details?id=com.omtch.om&pli=1"
                        target="_blank"
                      >
                        <img src="@/assets/images/google_play.svg" alt="google_play">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app2 btn-item"
                        href="/om_v2.2.9.apk"
                        download
                      >
                        <img src="@/assets/images/download_for_android5.svg" alt="download_for_android5">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app2 btn-item"
                        href="/om_v2.3.0.apk"
                        download
                      >
                        <img src="@/assets/images/download_for_android.svg" alt="download_for_android">
                      </a>
                    </div>
                  </div>
                  <div class="hidden md:block w-full">
                    <div
                      class="group-btn w-full flex md:justify-between flex-col items-center flex-wrap gap-5 md:gap-[24px] lg:h-44"
                    >
                      <a
                        v-if="device?.ios || device?.windows ||(device?.macos)"
                        class="translate-linear-app1 btn-item"
                        href="https://apps.apple.com/app/omega-network/id1664646371"
                        target="_blank"
                      >
                        <img src="@/assets/images/apple_store.svg" alt="apple_store">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app1 btn-item"
                        href="/om_v2.2.9.apk"
                        download
                      >
                        <img src="@/assets/images/download_for_android5.svg" alt="download_for_android5">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app1 btn-item"
                        href="https://play.google.com/store/apps/details?id=com.omtch.om&pli=1"
                        target="_blank"
                      >
                        <img src="@/assets/images/google_play.svg" alt="google_play">
                      </a>
                      <a
                        v-if="device?.android || device?.windows ||(device?.macos)"
                        class="translate-linear-app1 btn-item"
                        href="/om_v2.3.0.apk"
                        download
                      >
                        <img src="@/assets/images/download_for_android.svg" alt="download_for_android">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="class-text-partner h-[48px] md:h-[144px]"/>
            </div>
          </div>

          <div class="block-four w-full flex justify-center items-center">
            <div class="content w-full flex-row justify-center">
              <div class="h-[48px]"/>
              <h2
                class="text-partners-animation w-full text-center color-primary uppercase font-bold px-4 lg:px-0 mb-[24px] md:mb-[85px] line-height-150"
                v-html="fnConvertTextCharacter('PARTNERS', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-4')"
              />
              <div class="content flex justify-center px-4 md:px-16 xl:px-0">
                <div class="hidden md:block z-10">
                  <div
                    class="max-w-[1106px] list-parent flex justify-center items-center flex-wrap md:flex-nowrap gap-[24px]"
                  >
                    <!--                    <card-base-->
                    <!--                      class-card="translate-linear-card-partner1 list-item w-80 md:w-fit"-->
                    <!--                      class-card-content="flex justify-center"-->
                    <!--                    >-->
                    <!--                      <img class="h-[43px]" src="@/assets/images/img1-block-four.svg" alt="img1-block-four">-->
                    <!--                    </card-base>-->
                    <card-base
                      class-card="translate-linear-card-partner1 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img2-block-four.svg" alt="img1-block-four">
                    </card-base>
                    <card-base
                      class-card="translate-linear-card-partner1 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img3-block-four.svg" alt="img1-block-four">
                    </card-base>
                    <card-base
                      class-card="translate-linear-card-partner1 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img4-block-four.svg" alt="img1-block-four">
                    </card-base>
                  </div>
                </div>
                <div class="block md:hidden z-10">
                  <div
                    class="max-w-[1106px] list-parent flex justify-center items-center flex-wrap md:flex-nowrap gap-[24px]"
                  >
                    <!--                    <card-base-->
                    <!--                      class-card="translate-linear-card-partner2 list-item w-80 md:w-fit"-->
                    <!--                      class-card-content="flex justify-center"-->
                    <!--                    >-->
                    <!--                      <img class="h-[43px]" src="@/assets/images/img1-block-four.svg" alt="img1-block-four">-->
                    <!--                    </card-base>-->
                    <card-base
                      class-card="translate-linear-card-partner2 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img4-block-four.svg" alt="img1-block-four">
                    </card-base>
                    <card-base
                      class-card="translate-linear-card-partner2 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img2-block-four.svg" alt="img1-block-four">
                    </card-base>
                    <card-base
                      class-card="translate-linear-card-partner2 list-item w-80 md:w-fit"
                      class-card-content="flex justify-center"
                    >
                      <img class="h-[43px]" src="@/assets/images/img3-block-four.svg" alt="img1-block-four">
                    </card-base>
                  </div>
                </div>
              </div>
              <div class="h-[48px] md:h-52"/>
            </div>
          </div>

          <div class="block-five w-full flex justify-center items-center">
            <div class="content w-full flex-row justify-center">
              <h2
                class="text-news-animation w-full text-center color-primary uppercase font-bold px-4 lg:px-0 mb-4 mt-12 md:mb-16 line-height-150"
                v-html="fnConvertTextCharacter('NEWS', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-5')"
              />
              <div class="content child w-full">
                <VueSlickCarousel v-bind="settings">
                  <div class="wrapper-item-carousel cursor-pointer" v-for="item in dataNews" :key="item.name" @click="fnRouterLinkBlank(item.link)">
                    <card-base>
                      <div class="wrapper-img-news w-full mb-3">
                        <img class="w-full h-full" :src="item.img" alt="item-carousel-1">
                      </div>

                      <a :href="item.link"
                         class="text-white md:text-xl text-base font-bold leading-8 mb-3 text-first-card-content line-two"
                         target="_blank"
                      >
                        {{ item.title }}
                      </a>
                      <p class="md:text-lg text-sm text-white line-three">
                        {{ item.content }}
                      </p>
                    </card-base>
                  </div>
                </VueSlickCarousel>
              </div>
              <h2
                class="text-contact-us w-full text-center md:text-left color-primary uppercase font-bold px-4 md:px-16 lg:px-  mb-[24px] mt-[48px] md:mt-[200px] md:mb-[48px] line-height-150"
                v-html="fnConvertTextCharacter('Contact us', 'color-primary uppercase font-bold text-[24px] md:text-[48px]', 'letter-character-6')"
              />
              <div class="content flex px-4 md:px-16 lg:px-4 flex-wrap">
                <div class="content-left content-translate w-full md:w-1/2 pr-0 md:pr-12 mb-6 md:mb-0">
                  <p class="text-white text-[14px] md:text-[18px] line-height-150 mb-3">
                    Reach us for further cooperation, promotion, and cross-marketing activities with just a click. We
                    welcome
                    all potential partnerships!
                  </p>
                  <p class="text-white text-[14px] md:text-[18px] mb-6">
                    Our email: <a class="text-mail text-[14px] md:text-[18px]" href="mailto:cs@omtch.com">cs@omtch.com</a>
                  </p>
                  <div class="flex w-full justify-center items-center gap-8  mb-6">
                    <button class="btn-social"
                            @click="fnRouterLinkBlank('https://www.facebook.com/OmCoreTeam/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=00')"
                    >
                      <img src="@/assets/images/icon/icon-facebook.svg" alt="button-facebook">
                    </button>
                    <button class="btn-social"
                            @click="fnRouterLinkBlank('https://twitter.com/omcoreteam')">
                      <img src="@/assets/images/icon/icon-twitter.svg" alt="button-twiter">
                    </button>
                    <button class="btn-social"
                            @click="fnRouterLinkBlank('https://t.me/OmegaNetworkTeam')">
                      <img src="@/assets/images/icon/icon-tele.svg" alt="button-tele">
                    </button>
                    <button class="btn-social"
                            @click="fnRouterLinkBlank('https://www.reddit.com/user/OmCoreTeam/')">
                      <img src="@/assets/images/icon/icon-reddit.svg" alt="button-reddit">
                    </button>
                  </div>
                  <div class="flex justify-center relative block-contact">
                    <!--                    <img src="@/assets/images/group-block-five.svg" alt="group-block-five">-->
                    <div class="w-fit relative">
                      <img
                        style="opacity: 0;"
                        class=""
                        src="@/assets/images/group-block-five.svg"
                        alt="group-block-five"
                      >
                      <div class="layer absolute top-0 left-auto lg:left-0 w-fit h-full">
                        <img class="_layer_7-1" src="@/assets/images/layer/home-layer/layer7-1.svg"
                             alt="group-block-five">
                        <img class="absolute _layer_7-2 " src="@/assets/images/layer/home-layer/layer7-2.svg" alt="">
                        <img class="absolute _layer_7-3 " src="@/assets/images/layer/home-layer/layer7-3.svg" alt="">
                        <img class="absolute _layer_7-4 " src="@/assets/images/layer/home-layer/layer7-4.svg" alt="">
                        <img class="absolute _layer_7-5 " src="@/assets/images/layer/home-layer/layer7-5.svg" alt="">
                        <img class="absolute _layer_7-6 " src="@/assets/images/layer/home-layer/layer7-6.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content-translate content-right w-full md:w-1/2">
                  <InputBase
                    placehoder="Your name"
                    pre-text="Your name"
                    :obligatory="true"
                    class="mb-6"
                    :props-input="inputName"
                    @change="getName"
                  />
                  <InputBase
                    placehoder="Email"
                    pre-text="Email"
                    :obligatory="true"
                    type-input="email"
                    class="mb-6"
                    :props-input="inputMail"
                    @change="getMail"
                  />
                  <TextareaBase
                    placehoder="Tell us what problems or questions you have"
                    pre-text="Tell us what problems or questions you have"
                    :obligatory="false"
                    :maxlength="300"
                    :rows="5"
                    class="mb-6"
                    :props-area="inputContent"
                    @change="getContent"
                  />
                  <p class="text-white"/>

                  <button
                    :disabled="isDisable"
                    class="btn-primary w-full mb-[24px]"
                    style="justify-content: center"
                    @click="sendEmail"
                  >
                    <span class="font-semibold text-black text-base">Get In Touch With Us</span>
                    <img
                      v-if="isDisable"
                      src="@/assets/images/arrow-right-icon-button-disabled.svg"
                      alt="arrow-right-icon-button"
                    >
                    <img v-else src="@/assets/images/arrow-right-icon-button.svg" alt="arrow-right-icon-button">
                  </button>

                  <div v-if="showAlert" class="w-full flex justify-center">
                    <div v-if="resSendEmail" class="flex">
                      <img src="@/assets/images/icon-success.png" alt="">
                      <span class="" style="color: #01CD4B">Success! Your email has been sent.</span>
                    </div>
                    <div v-else class="flex">
                      <img src="@/assets/images/icon-error.png" alt="">
                      <span class="" style="color: #EF4444">Failed to send email. Please try again later.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="h-[72px] md:h-[200px]"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import emailjs from 'emailjs-com'
import InputBase from '../base/input-base.vue'
import TextareaBase from '../base/textarea-base.vue'
import CardBase from '../base/card-base.vue'
import ButtonBase from '../base/button-base.vue'

export default {
  components: {ButtonBase, CardBase, TextareaBase, InputBase},
  data() {
    return {
      hoverBtnMoney: false,
      settings: {
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        initialSlide: 0,
        responsive: [
          {
            breakpoint: 1367,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 1055,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      },
      dataNews: [
        {
          title: `Omega Network Incentivize Testnet User Guide`,
          link: `https://mirror.xyz/0x0ce990b52FEBAf0ee0b6ceD1eC695D0F49BF8440/96-P-SOlEulTlkvmjDgkK_15hPmzp5mXnP61H_1_JWM`,
          img: `https://mirror-media.imgix.net/publication-images/_WAN-VyV_4gIvV446Mt9c.jpeg?height=750&width=1500&h=750&w=1500&auto=compress`,
          content: `The Omega Network was launched with the goal of making blockchain accessible to
                        everyone through the support of cryptocurrency introduction, mining, and distribution....
`
        },
        {
          title: `KYC instructions for Omega Network`,
          link: `https://mirror.xyz/0x0ce990b52FEBAf0ee0b6ceD1eC695D0F49BF8440/cn3zT0Xrx8ulXdnrCqhui1u3ALynwjoRjsk6fyFxTDc`,
          img: `https://mirror-media.imgix.net/publication-images/le133Dp4Pcqp-rRvV3i4V.png?height=2560&width=5120&h=2560&w=5120&auto=compress`,
          content: `Welcome to OmegaNetwork! In order to ensure the security of your account, we require you to
                        complete the KYC (Know Your Customer) verification process. Here are the steps to complete this process.`
        },
        {
          title: `Omega Network Invitation Contest`,
          link: `https://mirror.xyz/0x0ce990b52FEBAf0ee0b6ceD1eC695D0F49BF8440/KEEJikzbF4G5wDpsMkPIPiRX9bi1dQQ7c1xrmJEBfWg`,
          img: `https://mirror-media.imgix.net/publication-images/ZdhbDBeburk74jYWWUlWy.png?height=3001&width=6002&h=3001&w=6002&auto=compress`,
          content: `Omega Network invitation contest Round 2 is approching,
                        where you can invite your friends to join the Omega Network community and earn amazing rewards!`
        }
      ],
      inputName: '',
      inputMail: '',
      inputContent: '',
      exceptionName: true,
      exceptionMail: true,
      device: '',
      isDisable: true,
      checkSendEmail: false,
      showMessage: false,
      showAlert: false,
      resSendEmail: false
    }
  },
  created() {
    this.device = this.$device
    if (this.device.ios === false && this.device.android === false) {
      this.device.macos = true
    }
  },
  mounted() {
    window.addEventListener('scroll', (event) => {
      const heightScreen = screen.height
      const blockTwo = document.querySelector('.block-one').offsetTop
      const textNewGeneration = document.querySelector('.text-new-generation').offsetTop
      const textOmegaNetwork = document.querySelector('.text-omega-network').offsetTop
      const textOmegaNetworkMb = document.querySelector('.text-omega-network-mb').offsetTop
      const textMiningAnywhere = document.querySelector('.text-mining-anywhere').offsetTop
      const textPartners = document.querySelector('.block-four').offsetTop
      const textNews = document.querySelector('.text-news-animation').offsetTop
      const textContactUs = document.querySelector('.text-contact-us').offsetTop

      const currentScrollPos = window.pageYOffset || document.documentElement.scrollTop
      if (currentScrollPos > blockTwo) {
        this.fnMountedTextCharacter('.letter-character-1')
        this.fnMountedTextCharacter('.letter-character-mb-1')
      }
      if (currentScrollPos + heightScreen / 2 + 100 > textNewGeneration) {
        this.fnMountedTextCharacter('.letter-character-2')
      }
      if (currentScrollPos + heightScreen / 2 > textOmegaNetwork) {
        this.fnMountedTextCharacter('.letter-character-2-1')
      }
      if (currentScrollPos + heightScreen / 2 > textOmegaNetworkMb) {
        this.fnMountedTextCharacter('.letter-character-mb-2-1')
      }
      if (currentScrollPos + heightScreen / 2 > textMiningAnywhere) {
        this.fnMountedTextCharacter('.letter-character-3')
      }
      if (currentScrollPos + heightScreen / 2 > textPartners) {
        this.fnMountedTextCharacter('.letter-character-4')
      }
      if (currentScrollPos + heightScreen / 2 > textNews) {
        this.fnMountedTextCharacter('.letter-character-5')
      }
      if (currentScrollPos + heightScreen / 2 > textContactUs) {
        this.fnMountedTextCharacter('.letter-character-6')
      }

      const contentTextArr = document.querySelectorAll('.content-translate')
      for (let i = 0; i < contentTextArr.length; i++) {
        if (currentScrollPos + heightScreen / 2 > contentTextArr[i].offsetTop) {
          contentTextArr[i].classList.add('is-fadein')
        }
      }
      const cardNewGeneral = document.querySelector('.translate-linear-card-new-general').offsetTop
      if (currentScrollPos + heightScreen / 2 > cardNewGeneral) {
        this.fnMountedCard('.translate-linear-card-new-general', 0.2)
      }
      const cardPartner = document.querySelector('.block-four').offsetTop
      if (currentScrollPos + heightScreen / 2 > cardPartner) {
        this.fnMountedCard('.translate-linear-card-partner1', 0.2)
        this.fnMountedCard('.translate-linear-card-partner2', 0.2)
      }
      const cardApp = document.querySelector('.translate-linear-app1').offsetTop
      if (currentScrollPos + heightScreen / 2 > cardApp) {
        this.fnMountedCard('.translate-linear-app1', 0.2)
        this.fnMountedCard('.translate-linear-app2', 0.2)
      }
    })
  },
  methods: {
    getName(emit) {
      this.inputName = emit.value
      this.exceptionName = emit.exception
      this.fnDisable()
    },
    getMail(emit) {
      this.inputMail = emit.value
      this.exceptionMail = emit.exception
      this.fnDisable()
    },
    getContent(emit) {
      this.inputContent = emit.value
    },
    fnDisable() {
      this.isDisable = !(this.exceptionName === false && this.exceptionMail === false)
    },
    downloadApp() {
      const pos = document.getElementsByClassName('block-three')[0]
      setTimeout(() => {
        window.scrollTo({
          top: pos.offsetTop,
          behavior: 'smooth'
        })
      }, 200)
    },
    fnRouterLink(link) {
      this.$router.push(`/${link}`)
    },
    fnRouterLinkBlank(link) {
      window.open(
        link,
        '_blank'
      )
    },
    async sendEmail() {
      const res = await emailjs.send('service_wonv6g6', 'template_jl06ok9', {
        to_name: this.inputMail,
        from_name: this.inputName,
        content: this.inputContent
      }, 'PTHhBvkyUHYRku3di')

      if (res.status === 200) {
        this.showAlert = true
        this.resSendEmail = true
      } else {
        this.showAlert = true
        this.resSendEmail = false
      }

      this.inputMail = ''
      this.inputName = ''
      this.inputContent = ''
      setTimeout(() => {
        this.showAlert = false
      }, 3000)
    },
    fnConvertTextCharacter(val, classText, classMain) {
      let resNeed = ''
      let oneText = []
      if (val.includes('<br>')) {
        val.split('<br>').forEach((item) => {
          item.split('').forEach((itemC) => {
            if (itemC === ' ') {
              oneText.push(`</div><div style="display: inline"><span style="opacity: 0" class="${classMain}  ${classText} line-height-150">i</span>`)
            } else {
              oneText.push(`<span style="display: inline" class="${classMain}  ${classText} line-height-150">${itemC}</span>`)
            }
          })
          resNeed = resNeed + oneText.join('') + '<br>'
          oneText = []
        })
      } else {
        val.split('').forEach((itemC) => {
          if (itemC === ' ') {
            oneText.push(`</div><div style="display: inline"><span style="opacity: 0" class="${classMain}  ${classText} line-height-150">i</span>`)
          } else {
            oneText.push(`<span style="display: inline" class="${classMain}  ${classText}  line-height-150">${itemC}</span>`)
          }
        })
        resNeed = resNeed + oneText.join('')
        oneText = []
      }

      return '<div style="display: inline">' + resNeed + '</div>'
    },
    fnMountedTextCharacter(classMain) {
      const arr1 = document.querySelectorAll(classMain)
      for (let i = 0; i < arr1.length; i++) {
        arr1[i].style.transitionDelay = `${i * 0.04}s`
        arr1[i].classList.add('is-fadein')
      }
    },
    fnMountedCard(classMain, timings) {
      const arr1 = document.querySelectorAll(classMain)
      for (let i = 0; i < arr1.length; i++) {
        arr1[i].style.transitionDelay = `${i * timings}s`
        arr1[i].classList.add('is-fadein')
      }
    }
  }
}
</script>
<style scoped lang="scss">
.wrapper-home {
  .block-one {
    position: relative;
    background-image: url("@/assets/images/bg-home-block-one.svg");
    height: calc(100vh - 56px);
    background-size: cover;
    @media only screen and (max-width: 375px) {
      height: calc(100%) !important;
    }

    .content {
      width: 1166px;

      .content-left {

        p:first-child {
          font-size: 64px;
          line-height: 75px;
        }

        p:nth-child(2) {
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 64px;
          line-height: 75px;
        }

        p:last-child {
          line-height: 150%;
        }
      }
    }

    @keyframes spinAround {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    ._layer-hidden-1 {
      position: absolute;
      top: -45px;
      left: 0;
      width: 305px;
      height: 305px;
      transform: rotate(45deg);
      animation: spinAround 30s linear infinite;
    }

    ._layer-hidden-2 {
      position: absolute;
      top: calc(50% - calc(375px / 2));
      right: -99px;
      width: 375px;
      height: 375px;
      transform: rotate(-30deg);
      animation: spinAround 35s linear infinite;
    }

    ._layer-hidden-3 {
      position: absolute;
      bottom: calc(-305px / 2);
      left: 30%;
      width: 305px;
      height: 305px;
      animation: spinAround 40s linear infinite;
    }
  }

  .block-two {
    background-image: url("@/assets/images/bg-home-block-two.svg");
    height: auto;

    .content {
      max-width: 1166px;

      h2 {
        line-height: 150%;
      }

      .content-left {
        p {
          line-height: 150%;
          max-width: 500px;
          @media only screen and (max-width: 1270px) {
            max-width: 600px !important;
          }
          @media only screen and (max-width: 650px) {
            max-width: 100% !important;
          }
        }
      }

      .content-right {
        .wrapper-video {
          width: 600px;
          height: 340px;
          border: 2px solid #000000;
          border-radius: 12px;
          overflow: hidden;
          @media only screen and (max-width: 650px) {
            width: 100% !important;
            height: 56%;
            aspect-ratio: 16 / 9;
          }
        }
      }

      .title-text-icon {
        width: 300px;
      }

      .wrapper-text {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 4px;
        isolation: isolate;
        width: 300px;
        border: 2px solid #FFB901;
        border-radius: 24px 0px;
      }

      .wrapper-text:after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #FFB901;
        top: -6px;
        right: -6px;
      }

      .wrapper-text:before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #FFB901;
        bottom: -6px;
        left: -6px;
      }
    }
  }

  .block-three {
    background-image: url("@/assets/images/bg-home-block-two.svg");

    .content {
      max-width: 1166px;

      .group-btn {

      }
    }
  }

  .block-four {
    position: relative;
    @media only screen and (max-width: 700px) {
      height: auto !important;
    }
    background: #0B0E11;

    .content {
      max-width: 1166px;

      .list-item {
        background: #0B0E11;
      }

      .wrapper-card.list-item {
        min-width: auto !important;
        padding: 22px 24px;
      }
    }
  }

  .wrapper-card {
    height: 100%;
  }

  .block-four:after {
    position: absolute;
    content: '';
    background-image: url("@/assets/images/text-partners.svg");
    top: 105px;
    left: calc(50% - 47.5vw);
    width: 95vw;
    height: 226px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;

    @media only screen and (max-width: 1366px) {
      top: 105px;
      width: 95vw;
      height: 175px;
      left: calc(50% - 47.5vw);
    }
    @media only screen and (max-width: 720px) {
      height: calc(55px);
      top: 70px;
    }

  }

  .block-five {
    background-image: url("@/assets/images/bg-home-block-two.svg");

    .content {
      max-width: 1166px;

      .content.child {
        @media only screen and (max-width: 1366px) {
          max-width: calc(100% - 300px);
          margin: auto;
        }
        @media only screen and (max-width: 650px) {
          max-width: calc(100% - 120px);
          .wrapper-item-carousel {

          }
        }
        @media only screen and (max-width: 480px) {
          max-width: calc(100% - 120px);
          .wrapper-item-carousel {
            width: 247px !important;

            ::v-deep .wrapper-card {
              min-width: 247px !important;
            }
          }
        }
        @media only screen and (max-width: 374px) {
          .wrapper-item-carousel {
            width: 230px !important;

            ::v-deep .wrapper-card {
              min-width: 230px !important;
            }
          }
        }
      }

      .wrapper-item-carousel {
        margin: 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        isolation: isolate;
        width: 350px !important;

        .block {
          padding: 24px;
        }
      }

      .wrapper-item-carousel:hover .text-first-card-content {
        color: #FFB901;
      }

      ::v-deep .slick-slide {
        display: flex;
        justify-content: center;
      }

      ::v-deep .slick-prev, ::v-deep .slick-next {
        top: 50%;
        display: block;
        width: 48px;
        height: 48px;
        transform: translate(0, -50%);
        color: black;
        background: #FFB901;
        border-radius: 5px;
        @media only screen and (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
      }

      ::v-deep .slick-next:hover, ::v-deep .slick-prev:hover {
        background: #FF9901;
      }

      ::v-deep .slick-prev:before {
        content: '';
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("@/assets/images/arrow-left.svg");
        background-repeat: no-repeat;
        background-position: center;
        @media only screen and (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
      }

      ::v-deep .slick-next:before {
        content: '';
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("@/assets/images/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: center;
        @media only screen and (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
      }

      ::v-deep .slick-prev {
        left: -46px;
      }

      ::v-deep .slick-next {
        right: -46px;
      }
    }
  }

  .block-two-1 {
    background-image: url("@/assets/images/bg-group-block-two-1.svg");
    background-size: cover;

    .content {
      max-width: 1166px;
    }
  }
}

@media only screen and (max-width: 930px) {
  .wrapper-home {
    .block-one {
      .text-2xl {
        font-size: 20px;
      }

      .content {
        justify-content: center;
        flex-wrap: wrap;

        .content-left {
          width: 100%;

          p:nth-child(1), p:nth-child(2) {
            font-size: 40px !important;
            line-height: 47px !important;
          }
        }

        .content-right {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .wrapper-home {
    .block-one {
      padding: 0 16px;

      .wrapper-button {
        flex-wrap: wrap;

        button {
          margin-right: 0;
          width: 100%;
          justify-content: center;
        }

        a {
          margin-right: 0;
          width: 100%;
          justify-content: center;
        }

        button:first-child {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.btn-social {
  width: 48px;
  height: 48px;
  background: #FFB901;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.btn-social:hover {
  background: #FF9901;
}
.text-mail:hover{
  color: #FFB901FF;
}

::v-deep .wrapper-img-news{
  //aspect-ratio: 3 / 2;
  img{
    object-fit: cover;
  }
}

</style>
