<template>
  <div>
    <div class="hidden md:block wrapper-roadmap-des relative">
      <div class="text-bg-roadmap">
        <img src="@/assets/images/roadmap-text.svg" alt="roadmap-text.svg">
      </div>
      <h2
        class="
        text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[32px]
        xl:pb-[32px] px-4 md:px-16 lg:px-8 xl-h:px-0"
        v-html="fnConvertTextCharacter(` Omega Network Roadmap`, `color-primary uppercase font-bold text-[20px] md:text-5xl`, `letter-character-1`)"
      >
      </h2>
      <div class="content-roadmap w-full relative content-translate-page">
        <div class="layer1"></div>
        <div class="layer2"></div>
        <div class="main-content-roadmap pt-[40px]">
          <div class="content-center flex justify-center items-center relative">
            <div class="content-left absolute"/>
            <div class="content-slide relative w-full h-full z-50">
              <VueSlickCarousel v-bind="settings">
                <div
                  v-for="item in dataCard"
                  :key="item.name"
                  class="wrapper-item-carousel flex justify-center items-center"
                >
                  <div class="block-item flex justify-center items-center mb-1">
                    <div>
                      <p
                        class="font-special color-primary text-[32px] font-bold line-height-150 text-center uppercase"
                      >
                        {{ item.name }}
                      </p>
                      <card-base>
                        <ul class="text-white list-disc pl-6">
                          <li
                            v-for="(itemC, indexC) in item.value"
                            :key="indexC"
                            class="text-[14px] md:text-[18px]"
                            :class="indexC === item.value.length ? 'mb-0' : 'mb-3'"
                          >
                            {{ itemC }}
                          </li>
                        </ul>
                      </card-base>
                    </div>
                  </div>
                </div>
              </VueSlickCarousel>
            </div>
            <div class="content-right absolute"/>
            <div class="content-icon absolute"/>
          </div>
        </div>
      </div>
    </div>
    <div class="block md:hidden wrapper-roadmap-mb relative">
      <div class="relative">
        <div class="text-bg-roadmap">
          <img src="@/assets/images/roadmap-text.svg" alt="roadmap-text.svg">
        </div>
        <h2
          class="text-title-roadmap w-full color-primary text-[20px] md:text-3xl lg:text-4xl
        xl:text-5xl font-bold line-height-150 text-center
        capitalize md:uppercase pt-[64px] md:pt-[163px] xl:pt-[163px] pb-8 md:pb-[32px]
        xl:pb-[32px] px-4 md:px-16 lg:px-8 xl-h:px-0 fixed z-50" style="background: #181A20;"
        >
          Omega Network Roadmap
        </h2>
      </div>

      <div class="bg-base-roadmap fixed">
        <img src="@/assets/images/bg-roadmap.svg" alt="bg-roadmap.svg">
      </div>
      <div class="layer1"></div>
      <div class="layer2"></div>
      <div class="layer3"></div>
      <div style="top: 127px; position:relative;
    padding-bottom: 184px;">
        <div
          v-for="(item, index) in dataCard"
          :key="item.name"
          class="wrapper-item-carousel flex-col justify-center items-center"
        >
          <div v-if="index === 0" class="w-full flex justify-center items-center">
            <img src="@/assets/images/roadmap-icon-vertical.svg" alt="roadmap-icon-vertical">
          </div>
          <div class="block-item flex justify-center items-center mb-1">
            <div>
              <p
                class="font-special  color-primary text-[20px] md:text-[32px] font-bold line-height-150 text-center uppercase mb-[6px]"
              >
                {{ item.name }}
              </p>
              <card-base>
                <ul class="text-white list-disc pl-6">
                  <li
                    v-for="(itemC, indexC) in item.value"
                    :key="indexC"
                    class="mb-3 text-[14px] md:text-[18px]"
                  >
                    {{ itemC }}
                  </li>
                </ul>
              </card-base>
            </div>
          </div>
          <div v-if="index !== (dataCard.length - 1)" class="w-full flex justify-center items-center my-[4px]">
            <img src="@/assets/images/roadmap-line-vertical.svg" alt="roadmap-line-vertical">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CardBase from '../base/card-base.vue'
import {fnConvertTextCharacter, fnMountedCard, fnMountedTextCharacter} from "~/utils/base";

export default {
  components: {CardBase},
  data() {
    return {
      settings: {
        dots: false,
        infinite: false,
        centerMode: true,
        centerPadding: '20px',
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true,
        initialSlide: 2
      },
      dataCard: [
        {name: '2022', value: ['Idea', 'Website Launch', 'Launch Beta Version Omega App on Google Play']},
        {
          name: 'Q1 2023',
          value: ['Establish Social Media Channels', 'Launch the Official Version App on Google Play and the App Store',
            'Initiate OMN mining', 'Referral and Invite Program', 'Whitepaper Release', 'Seed Round Funderasing'
          ]
        },
        {
          name: 'Q2 2023',
          value: [
            'Private Round Funderasing', 'Initiate IDO', 'Internal Omega Wallet', 'Launch Multi-chain Blockchain Wallet',
            'Omega Testnet Blockchain Explorer', 'Omega Testnet DEX', 'Omega Testnet Cross chain bridge', 'Omega Testnet Faucet',
            'KYC process', 'Update Whitepaper to version 2.0', 'Top Tier Twitter and YouTube Parterships', 'Contract Audit'
          ]
        },
        {
          name: 'Q3 2023',
          value: [
            'Execute TGE', 'List OMN on Tier 1/Tier2 Centralized Exchanges', 'Launch Public Mainnet',
            'Omega Explorer on Mainnet', 'OmegaSwap on Mainnet', 'OmegaBridge on Mainnet', 'Initiate Staking & Farming'
          ]
        },
        {
          name: 'Q4 2023',
          value: [
            'Launch Omega NFT Market', 'Develop Omega Decentralized ID System', 'Governance and Voting System',
            'Upgrade Omega Wallet Functionality', 'Improve DAPPs Performance'
          ]
        },
        {
          name: 'Q1 2024',
          value: [
            'Omega Metaverse', 'Metaverse Land NFT Sale Omega Metaverse DEX', 'NFTS Airdrop Event', 'Metaverse Land NFT Sale Omega Metaverse DEX',
            'Launch of Metaverse Events', 'Expansion to New Markets'
          ]
        },
        {
          name: 'Q2 2024',
          value: [
            'Expansion to New Markets', 'Omega LaunchPad', 'Develop Omega Gaming Platform',
            'Release Free-to-play Games',
            'Buyback and Burn OMN'
          ]
        },
        {
          name: 'Q3 2024',
          value: [
            'Expansion of Partnerships with CEXS',
            'OmegaPay System',
            'Web3 Education and Training Program',
            'DAO Voting for the Three-Year Future Plan'
          ]
        }
      ],
      scrollMB: false,
      showBlurFooter: false,
      indexPrecious: 0
    }
  },
  mounted() {
    setTimeout(() => {
      this.fnMountedTextCharacter('.letter-character-1')
      this.fnMountedCard('.content-translate-page', 0.5)
    }, 100)

    const textBg = document.querySelector('.wrapper-roadmap-mb .text-bg-roadmap')
    const textTitle = document.querySelector('.text-title-roadmap')
    let previousScrollPos = window.pageYOffset || document.documentElement.scrollTop
    window.addEventListener('scroll', (event) => {
      const currentScrollPos = window.pageYOffset || document.documentElement.scrollTop
      if (currentScrollPos < previousScrollPos) {
        textBg.classList.add('active-up')
        textBg.classList.remove('active-down')
        textTitle.classList.add('active-up')
        textTitle.classList.remove('active-down')
      } else {
        textBg.classList.add('active-down')
        textBg.classList.remove('active-up')
        textTitle.classList.add('active-down')
        textTitle.classList.remove('active-up')
      }
      previousScrollPos = Math.abs(currentScrollPos)
    })
  },
  created() {
    this.fnInitialSlide()
  },
  methods: {
    fnConvertTextCharacter,
    fnMountedTextCharacter,
    fnMountedCard,
    fnInitialSlide() {
      const precious = 'Q' + (Math.floor((new Date().getMonth() + 1 - 0.1) / 3) + 1)
      this.dataCard.forEach((item, index) => {
        if (item.name.includes(new Date().getFullYear()) && item.name.includes(precious)) {
          this.settings.initialSlide = index
        }
      })
    }
  }
}
</script>
<style scoped lang="scss">
.text-bg-roadmap.active-up {
  transform: translateY(0px);
  transition: 0.5s ease-in-out;
}

.text-bg-roadmap.active-down {
  transform: translateY(-65px);
  transition: 0.5s ease-in-out;
}

.text-title-roadmap.active-up {
  transform: translateY(0px);
  transition: 0.5s ease-in-out;
}

.text-title-roadmap.active-down {
  transform: translateY(-65px);
  transition: 0.5s ease-in-out;
}


::v-deep .slick-prev {
  left: calc(50% - 175px - 48px - 12px);
}

::v-deep .slick-next:before, ::v-deep .slick-prev:before {
  content: '';
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("@/assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

::v-deep .slick-prev:before {
  background-image: url("@/assets/images/arrow-left.svg");
}

::v-deep .slick-track {
  display: flex;
}

::v-deep .slick-list {

}

::v-deep .slick-next, ::v-deep .slick-prev {
  right: calc(50% - 175px - 48px - 12px);
  z-index: 100;
  background: #FFB901;;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  top: calc(32px + 40px + 46px);
}

::v-deep .slick-next:hover, ::v-deep .slick-prev:hover {
  background: #FF9901;
}

::v-deep .slick-arrow.slick-disabled {
  background: rgba(255, 185, 1, 0.4);
}

.content-icon {
  left: calc(50% - 175px - 48px - 101px);
  z-index: 10;
  width: 132px;
  height: 32px;
  border-radius: 4px;
  top: calc(57px + 46px);
  background-image: url("@/assets/images/roadmap-icon-arrow-near.svg");
  background-repeat: no-repeat;
}

.wrapper-roadmap-des {
  //height: 700px;
  background: #181A20 url("@/assets/images/bg-roadmap.svg") no-repeat;
  background-position-y: 100px;
  background-position-x: center;

  .text-bg-roadmap {
    position: absolute;
    width: 988px;
    left: calc(50% - 988px / 2);
    top: 57px;
    @media only screen and (max-width: 1365px) {
      width: calc(80vw);
      left: calc(50% - 80vw / 2);
    }
  }

  .content-roadmap {
    padding-bottom: 124px;

    .layer1 {
      position: absolute;
      width: 400px;
      height: 403px;
      left: calc(50% - 400px / 2);
      background-image: url("@/assets/images/roadmap-item.svg");
    }

    .layer2 {
      position: absolute;
      width: 533.5px;
      height: 254.5px;
      left: calc(50% - 533.5px / 2 + 4.25px);
      opacity: 0.8;
      top: 400px;
      background-image: url("@/assets/images/roadmap-item-blur.svg");
    }

    .main-content-roadmap {
      .content-left {
        width: calc(50% - 327px);
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        backdrop-filter: blur(2px);
      }

      .content-right {
        width: calc(50% - 260px);
        height: 100%;
        top: 0;
        right: 0;
        z-index: 50;
        backdrop-filter: blur(2px);
      }

      .wrapper-item-carousel {
        position: relative;
        max-width: 350px !important;
        margin-left: 80px;
        margin-right: 80px;

        @media only screen and (max-width: 819px) {
          margin-right: 40px;
          margin-left: 40px;
        }
      }

      .wrapper-item-carousel:before {
        position: absolute;
        content: "";
        top: 118px;
        left: -125px;
        width: 100px;
        height: 50px;
        background-image: url("@/assets/images/roadmap-line-item.svg");
        background-repeat: no-repeat;
      }

    }

  }
}

.wrapper-roadmap-mb {
  background: #181A20;

  .text-bg-roadmap {
    position: fixed;
    width: 988px;
    left: calc(50% - 988px / 2);
    top: calc(57px + 24px + 11px);
    z-index: 60;
    @media only screen and (max-width: 1365px) {
      width: calc(80vw);
      left: calc(50% - 80vw / 2);
    }
  }

  .bg-base-roadmap {
    width: 100%;
    top: 500px;
    background-size: unset;
    transform: scale(2.5);
  }

  .layer1 {
    position: fixed;
    top: 177px;
    width: 343px;
    height: 403px;
    left: calc(50% - 171.5px);
    background-image: url("@/assets/images/roadmap-item-mb.svg");
  }

  .layer2 {
    position: fixed;
    width: 457px;
    height: 255px;
    left: calc(50% - 228.5px + 4px);
    top: 580px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("@/assets/images/roadmap-item-blur.svg");
  }

  .layer3 {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    background: #181A20;
    z-index: 51;
  }

  .wrapper-item-carousel {
    position: relative;
    max-width: 300px !important;
    margin-left: 80px;
    margin-right: 80px;

    @media only screen and (max-width: 819px) {
      margin: auto !important;
    }
  }

  .wrapper-card {
    padding: 12px;
  }

}
</style>

